.welcome
  %h1 Red Panthers
  .logo
    = image_tag "image1.jpg"
  %p.doc
    = link_to "About Us", "https://redpanthers.co/about", target: "_blank"
    = link_to "Home", "home.html", target: "_blank"
    = link_to "Services", "https://redpanthers.co/services", target: "_blank"
    = link_to "Careers", "https://redpanthers.co/openings", target: "_blank"
    = link_to "Blog", "http://blog.redpanthers.co/", target: "_blank"
    = link_to "Contact", "https://redpanthers.co/contact", target: "_blank"
  / .doc
/ .welcome
